.header {
    display: flex;
    align-items: center;
    background-color: #DDD;
}


a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo {
    max-height: 80px;
}

.header .title-group {
    padding-left: 15px;
}

.header .title-group i {
    padding-right: 10px;
}