<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="63">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>Home
            </a>
            <a mat-list-item routerLink="/veiculos">
                <i class="material-icons">drive_eta</i>Veículos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <!-- <app-home></app-home> -->
        <!-- <app-veiculo-crud></app-veiculo-crud> -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>